<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <title>Muokkaa arvostelua</title>
</head>

<body>
  <div class="header">
    <h1>Muokkaa Arvostelua</h1>
  </div>

  <form action="/update_review" method="post">
    <p>
      Juoma: <br />
      <input type="text" name="drink" value="{{ review.drink }}"/>
    </p>
    <p>
      Juoman tyyppi: <br />
      <select name="drink_type" required>
        <option value=""></option>
        <option value="Vesi">Vesi</option>
        <option value="Mehu">Mehu</option>
        <option value="Limu">Limu</option>
        <option value="Energiajuoma">Energiajuoma</option>
        <option value="Olut">Olut</option>
        <option value="Valmis juomasekoitus">Valmis juomasekoitus</option>
        <option value="Drinkki">Drinkki</option>
        <option value="Likööri">Likööri</option>
        <option value="Viina">Viina</option>
        <option value="Viini">Viini</option>
        <option value="Muu">Muu</option>
      </select>
    </p>
    <p>
      Arvosana:
      <input type="number" name="score" step="0.1" size="5" required maxlength="3" max="5" min="0" value="{{ review.score }}"/>/5
    </p>
    <p>
      Arvostelu:
      <textarea name="review" rows="8" cols="60">{{ review.review }}</textarea>
    </p>

    <input type="hidden" name="review_id" value ="{{ review.id }}" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Päivitä arvostelua" />
  </form>

  <p style="text-align:center; margin-bottom: 20px;">
    <a href="/" class="button">Etusivulle</a>
  </p>

  <div class="footer">
    <a href="https://github.com/aSkelanturi/Juomamme">GitHub</a>
  </div>
</body>
</html>