<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <title>Muokkaa arvostelua</title>
</head>

<body>
  <div class="header">
    <h1>Muokkaa Arvostelua</h1>
  </div>

  <form action="/update_review" method="post">
    <p>
      Juoma: <br />
      <input type="text" name="drink" value="{{ review.drink }}" required minlength="1" maxlength="100"/>
    </p>
    <p>
      Juoman tyyppi: <br />
      <select name="drink_type" required>
        <option value="">Valitse tyyppi</option>
        <option value="Vesi" {% if current_type == "Vesi" %}selected{% endif %}>Vesi</option>
        <option value="Mehu" {% if current_type == "Mehu" %}selected{% endif %}>Mehu</option>
        <option value="Limu" {% if current_type == "Limu" %}selected{% endif %}>Limu</option>
        <option value="Energiajuoma" {% if current_type == "Energiajuoma" %}selected{% endif %}>Energiajuoma</option>
        <option value="Olut" {% if current_type == "Olut" %}selected{% endif %}>Olut</option>
        <option value="Valmis juomasekoitus" {% if current_type == "Valmis juomasekoitus" %}selected{% endif %}>Valmis juomasekoitus</option>
        <option value="Drinkki" {% if current_type == "Drinkki" %}selected{% endif %}>Drinkki</option>
        <option value="Likööri" {% if current_type == "Likööri" %}selected{% endif %}>Likööri</option>
        <option value="Viina" {% if current_type == "Viina" %}selected{% endif %}>Viina</option>
        <option value="Viini" {% if current_type == "Viini" %}selected{% endif %}>Viini</option>
        <option value="Muu" {% if current_type == "Muu" %}selected{% endif %}>Muu</option>
      </select>
    </p>
    <p>
      Arvosana:
      <input type="number" name="score" step="0.1" required max="5" min="0" value="{{ review.score }}"/>/5
    </p>
    <p>
      Arvostelu:
      <textarea name="review" rows="8" maxlength="4000">{{ review.review }}</textarea>
    </p>

    <input type="hidden" name="review_id" value ="{{ review.id }}" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Päivitä arvostelua" />
  </form>

  <p style="text-align:center; margin-bottom: 20px;">
    <a href="/" class="button">Etusivulle</a>
  </p>

  <div class="footer">
    <a href="https://github.com/aSkelanturi/Juomamme">GitHub</a>
  </div>
</body>
</html>