<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <title>Etsi Arvosteluita</title>
</head>

<body>
  <div class="header">
    <h1>Etsi Arvosteluita</h1>
  </div>
    
  <div class="search-form">
    <form action="/find_review" method="get">
      Hakusana: <input type="text" name="query" value="{{ query }}" maxlength="100">
    <input type="submit" class="button" value="Hae">
    </form>
  </div>

  <div style="text-align: center; flex: 1;">
    {% if query %}
    <h2>Tulokset haulle {{ query }}</h2>
    
    <ul>
      {% for review in results %}
      <li><a href="/review/{{ review.id }}">{{ review.drink }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  
    <p style="text-align:center; margin-bottom: 20px;">
      <a href="/" class="button">Etusivulle</a>
    </p>

  <div class="footer">
    <a href="https://github.com/aSkelanturi/Juomamme">GitHub</a>
  </div>

</body>
</html>