<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <title>Juomamme</title>
</head>

<body>
  <div class="header">
    <h1>Juomamme</h1>
  </div>

  <div class="toolbar">
    <div style="flex: 1;"></div>
    
    <div style="display: flex; gap: 12px;">
      {% if session.username %}
        <a href="/new_drink" class="button">Uusi arvostelu</a>
      {% else %}
        <a href="/login" class="button">Kirjaudu sisään</a>
        <a href="/register" class="button">Luo tunnus</a>
      {% endif %}
        <a href="/find_review" class="button">Etsi arvostelu</a>
    </div>
    
    {% if session.username %}
    <div style="display: flex; align-items: center; gap: 12px; flex: 1; justify-content: flex-end;">
      <p style="margin: 0;">Olet kirjautunut sisään nimellä <a href="/user/{{  session.user_id  }}">{{ session.username }}</a></p>
      <a href="/logout" class="button">Kirjaudu ulos</a>
    </div>
    {% else %}
    <div style="flex: 1;"></div>
    {% endif %}

  </div>

  <div class="drinks">
    <h2>Lisätyt arvostelut:</h2>
    <ul class="drink-list">
    {% for review in reviews %}
    <li><a href="/review/{{ review.id }}">{{ review.drink }}</a></li>
    {% endfor %}
    </ul>
  </div>


  <div class="footer">
    <a href="https://github.com/aSkelanturi/Juomamme">GitHub</a>
  </div>
</body>
</html>
