<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <title>Kirjautuminen</title>
</head>

<body>
  <div class="header">
    <h1>Kirjaudu sisään</h1>
  </div>
  {% if session.username %}
  <p style="text-align: center;">
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p style="text-align: center;">
    <a href="/logout" class="button">Kirjaudu ulos</a>
  </p>
  {% else %}
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" required minlength="3" maxlength="25" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" required minlength="8" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  {% endif %}

  <p style="text-align:center; margin-bottom: 20px;">
    <a href="/" class="button">Etusivulle</a>
  </p>

  <div class="footer">
    <a href="https://github.com/aSkelanturi/Juomamme">GitHub</a>
  </div>

</body>
</html>
