<!DOCTYPE html>
<html>

<head>
  <title>Uusi arvostelu</title>
</head>

<body>
    <h1>Uusi arvostelu</h1>
  <form action="/create_drink" method="post">
    <p>
      Juoma: <br />
      <input type="text" name="drink"/>
    </p>
    
    <p>
    Arvosana: <br />
    <input type="number" name="score" step="0.1" size="5" required maxlength="3" max="5" min="0"/>/5
    </p>

    <p>
        Arvostelu: <br />
        <textarea name="review" rows="8" cols="60"></textarea>
    </p>
    <input type="submit" value="Julkaise arvostelu" />
  </form>
    <p>
      <a href="/">Takaisin</a>
    </p>
</body>

</html>