<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <title>Uusi arvostelu</title>
</head>

<body>
    <div class="header">
      <h1>Uusi arvostelu</h1>
    </div>
  <form action="/create_drink" method="post">
    <p>
      Juoman nimi: <br />
      <input type="text" name="drink" required minlength="1" maxlength="100"/>
    </p>
    <p>
      Juoman tyyppi: <br />
      <select name="drink_type" required>
        <option value="">Valitse tyyppi</option>
        <option value="Vesi">Vesi</option>
        <option value="Mehu">Mehu</option>
        <option value="Limu">Limu</option>
        <option value="Energiajuoma">Energiajuoma</option>
        <option value="Olut">Olut</option>
        <option value="Valmis juomasekoitus">Valmis juomasekoitus</option>
        <option value="Drinkki">Drinkki</option>
        <option value="Likööri">Likööri</option>
        <option value="Viina">Viina</option>
        <option value="Viini">Viini</option>
        <option value="Muu">Muu</option>
      </select>
    </p>
    <p>
    Arvosana: <br />
    <input type="number" name="score" step="0.1" required max="5" min="0"/>/5
    </p>

    <p>
        Arvostelu: <br />
        <textarea name="review" rows="8" maxlength="4000"></textarea>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Julkaise arvostelu" />
  </form>
    <p style="text-align: center; margin-bottom: 20px;">
      <a href="/" class="button">Etusivulle</a>
    </p>
  <div class="footer">
    <a href="https://github.com/aSkelanturi/Juomamme">GitHub</a>
  </div>

</body>
</html>