<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <title>Rekisteröinti</title>
</head>

<body>
  <div class="header">
    <h1>Rekisteröi uusi käyttäjä</h1>
  </div>
  <form action="/create" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" required minlength="3" maxlength="25"/>
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password1" required minlength="8"/>
    </p>
    <p>
      Salasana uudestaan: <br />
      <input type="password" name="password2" required minlength="8"/>
    </p>
    <input type="submit" value="Luo tunnus" />
  </form>

  <p style="text-align:center; margin-bottom: 20px;">
    <a href="/" class="button">Etusivulle</a>
  </p>

  <div class="footer">
    <a href="https://github.com/aSkelanturi/Juomamme">GitHub</a>
  </div>

</body>
</html>