<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <title>Poista arvostelu</title>
</head>

<body>
    <div class="header">
      <h1>Poista arvostelu</h1>
    </div>

    <h2 style="text-align: center;">Ilmoitus: {{ review.drink }}</h2>
    
    <form action="/remove_review/{{ review.id }}" method="post">
      <p>Haluatko Varmasti poistaa ilmoituksen?</p>
      <input type="submit" name="remove" value="Poista arvostelu">
      <input type="submit" name="back" value="Palaa takaisin">
    </form>

  <div class="footer">
    <a href="https://github.com/aSkelanturi/Juomamme">GitHub</a>
  </div>

</body>
</html>