<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <title>{{ review.drink }}</title>
</head>

<body>
  <div class="header">
    <h1>{{ review.drink  }}</h1>
  </div>

  <div style="padding: 20px;">
    <table class="drink-table">
      {% for title, value in classes %}
      {% if title == "Juoma" %}
      <tr>
        <td class="label">Juoman tyyppi:</td>
        <td class="value">{{ value }}</td>
      </tr>
      {% endif %}
      {% endfor %}
      <tr>
        <td class="label">Arvosana:</td>
        <td class="value">{{ review.score }}/5</td>
      </tr>
      <tr>
        <td class="label">Arvostelu:</td>
        <td class="value">{{ review.review }}</td>
      </tr>
      <tr>
        <td class="label">Arvostelija:</td>
        <td class="value"><a href="/user/{{ review.user_id }}">{{ review.username }}</a></td>
      </tr>
    </table>
  </div>

  <p style="text-align: center;">
    <a href="/" class="button">Etusivulle</a>
  </p>


  {% if session.user_id == review.user_id %}
  <p style="text-align: center;">
      <a href="/edit_review/{{ review.id }}" class="button">Muokkaa</a>
      <a href="/remove_review/{{ review.id }}" class="button">Poista</a>
  </p>
  {% endif %}

  <h3 style="text-align: center;">Kommentit:</h3>
  <div class="comments-section">
    <ul class="comments-list">
      {% for comment in comments %}
      <li>
        <div class="comment-text">{{ comment.comment }}</div>
        <div class="comment-author">Käyttäjältä: <a href="/user/{{ comment.user_id }}">{{ comment.username }}</a></div>
      </li>
      {% endfor %}
    </ul>
  </div>
  
  <h4 style="text-align: center;">Uusi kommentti:</h4>
  <form action="/create_comment" method="POST">
    <p>
      <textarea name="comment" rows="8" required minlength="1" maxlength="1000"></textarea>
    </p>
    <input type="hidden" name="review_id" value="{{ review.id }}" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Julkaise kommentti" />
  </form>

  <div class="footer">
    <a href="https://github.com/aSkelanturi/Juomamme">GitHub</a>
  </div>

</body>
</html>