<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <title>{{ review.drink }}</title>
</head>

<body>
  <h1>{{ review.drink }}</h1>
      {% if session.user_id == review.user_id %}
    <p>
        <a href="/edit_review/{{ review.id }}">Muokkaa</a>
        <a href="/remove_review/{{ review.id }}">Poista</a>
    </p>
    {% endif %}

  <p>
    Juoman tyyppi: {{ review.drink_type }}
  </p>
  <p>
    Arvosana: {{ review.score }}/5
  </p>
  <p>
    Arvostelu: {{ review.review }}
  </p>
  <p>
    Arvostelija: <a href="/user/{{  review.user_id  }}">{{ review.username }}</a>
  </p>

  <h3>Kommentit:</h3>
  <ul>
    {% for comment in comments %}
    <li>{{ comment.comment }} <br />Käyttäjältä: <a href="/user/{{ comments.user_id }}">{{ comment.username }}</a></li>
    {% endfor %}
  </ul>
  <h4>Uusi kommentti:</h4>
  <form action="/create_comment" method="POST">
    <p>
      <textarea name="comment" rows="8" cols="60" required></textarea>
    </p>
    <input type="hidden" name="review_id" value="{{ review.id }}" />
    <input type="submit" value="Julkaise kommentti" />
  </form>
  <p>
    <a href="/">Etusivulle</a>
  </p>
</body>

</html>