<!DOCTYPE html>
<html>

<head>
  <title>{{ review.drink }}</title>
</head>

<body>
  <h1>{{ review.drink }}</h1>
      {% if session.user_id == review.user_id %}
    <p>
        <a href="/edit_review/{{ review.id }}">Muokkaa</a>
        <a href="/remove_review/{{ review.id }}">Poista</a>
    </p>
    {% endif %}

  <p>
    Juoman tyyppi: {{ review.drink_type }}
  </p>
  <p>
    Arvosana: {{ review.score }}/5
  </p>
  <p>
    Arvostelu: {{ review.review }}
  </p>
  <p>
    Arvostelija: <a href="/user/{{  review.user_id  }}">{{ review.username }}</a>
  </p>
  <p>
    <a href="/">Etusivulle</a>
  </p>
</body>

</html>